.password-card {
  max-width: 600px;
  margin-top: 24px;

  mat-card-content {
    padding-top: 20px !important;
  }
}

form {
  display: flex;
  flex-direction: column;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.form-error {
  color: #a33e31;
}

.password-card mat-spinner {
  display: inline-block;
}
